Cool Wizard Trilogy/Library/
Cool Wizard Trilogy/Temp/
Cool Wizard Trilogy/Assembly-CSharp-vs.csproj
Cool Wizard Trilogy/Assembly-CSharp.csproj
Cool Wizard Trilogy/Cool Wizard Trilogy-csharp.sln
Cool Wizard Trilogy/Cool Wizard Trilogy.sln
Cool Wizard Trilogy/UnityVS.Cool Wizard Trilogy.CSharp.csproj
