Cool Wizard Trilogy/Library/
Cool Wizard Trilogy/Temp/
Cool Wizard Trilogy/Assembly-CSharp-vs.csproj
Cool Wizard Trilogy/Assembly-CSharp.csproj
Cool Wizard Trilogy/Cool Wizard Trilogy-csharp.sln
Cool Wizard Trilogy/Cool Wizard Trilogy.sln
Cool Wizard Trilogy/UnityVS.Cool Wizard Trilogy.CSharp.csproj
Cool Wizard Trilogy/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Cool Wizard Trilogy/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Cool Wizard Trilogy/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Cool Wizard Trilogy/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Cool Wizard Trilogy/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Cool Wizard Trilogy/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Cool Wizard Trilogy/UnityVS.Cool Wizard Trilogy.v12.suo
Cool Wizard Trilogy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
